In [193]:
from urllib.request import urlopen 
import requests
import json 
import pandas as pd

In [2]:

d = {'날짜': ['0'], '위치': ['0'], '업종': ['0'], '매출': ['0']}
df = pd.DataFrame(data=d)

'''
eatery
fbeauty
hobbyenter
leisure
living
tour

화장품 및 방향제 소매업: fbeauty-beauty-skin
휴양콘도 운영업: tour-stay-resort
여행사업: tour-etc-general
자동차 임대업: tour-traff-rent
면세점: living-conveni-etc
버스 운송업: living-traffic-public
택시 운송업: living-traffic-public
기타 수상오락 서비스업: leisure-space-pool
내항 여객 운송업: tour-traff-rent
그외 기타 분류안된 오락관련 서비스업: hobbyenter
정기 항공 운송업: tour-traff-rent
'''
work_type = ['eatery','fbeauty','hobbyenter','leisure','living','tour']
location = ['1100000000,2600000000,2700000000,2800000000,4100000000,4700000000,4800000000','2900000000,3000000000,3100000000,4200000000,4300000000,4400000000,4500000000,4600000000,5000000000']

data1 = {
    'type': 'j', 
    'c1': 'eatery',
    'c2': '1100000000,2600000000,2700000000,2800000000,4100000000,4700000000,4800000000',
    'c3': 'A',
    'c4': '0'
} 
headers ={
    'Host': 'datalab.naver.com',
'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0',
'Accept': '*/*',
'Accept-Language': 'en-US,ko-KR;q=0.5',
'Accept-Encoding': 'gzip, deflate, br',
'Referer':'https://datalab.naver.com/local/card_result.naver',
'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
'X-Requested-With': 'XMLHttpRequest',
'Content-Length': '158',
'Origin': 'https://datalab.naver.com',
'DNT': '1',
'Connection': 'keep-alive',
'Cookie': 'NNB=BJNPWHNDFIGF6; NRTK=ag#all_gr#1_ma#-2_si#0_en#0_sp#0; nid_inf=-1498366577; NID_JKL=7TKxznjoNocHRDeZTikBKJltdn6TMUglXKbMnG+C3xQ=; _datalab_cid=50000000',
'TE': 'Trailers'
}

file_index = 0

In [3]:

for wk in work_type:
    file_index+=1
    url = 'https://datalab.naver.com/local/card/api.naver'
    data1['c1'] = wk
    
    for loc in location:
        data1['c2'] = loc

        json = requests.post(url, data=data1, headers=headers).json()
        #print(json.content)

        maxValue1 = json['maxValue']
        print(maxValue1)

        print(len(json['result'][0]['data']))
        for index in range(len(json['result'])):
            for index2 in range(len(json['result'][0]['data'])):
                df1 = {
                    "날짜":json['result'][index]['data'][index2]['period'],
                    "위치":json['result'][index]['title'],
                    "업종":wk,
                    "매출":int(json['result'][index]['data'][index2]['value'])*maxValue1
                }
                df = df.append(df1,ignore_index=True)

        print(maxValue1)
        print(df1)
        json = requests.post(url, data=data2, headers=headers).json()

        #df = df.append(df2,ignore_index=True)
        #print(index)
    #중간에 종료되는 경우 때문에 중간 결과 저장
    #df.to_csv('output'+str(file_index)+'.csv')

3104605
13
3104605
{'날짜': '20200601', '위치': '경상북도', '업종': 'eatery', '매출': 31046050}
339352
13
339352
{'날짜': '20200601', '위치': '광주광역시', '업종': 'eatery', '매출': 12895376}
2007461
13
2007461
{'날짜': '20200601', '위치': '경상북도', '업종': 'fbeauty', '매출': 14052227}
296226
13
296226
{'날짜': '20200601', '위치': '제주특별자치도', '업종': 'fbeauty', '매출': 5332068}
2633711
13
2633711
{'날짜': '20200601', '위치': '경상북도', '업종': 'hobbyenter', '매출': 15802266}
313390
13
313390
{'날짜': '20200601', '위치': '광주광역시', '업종': 'hobbyenter', '매출': 7521360}
2304614
13
2304614
{'날짜': '20200601', '위치': '경상북도', '업종': 'leisure', '매출': 25350754}
453377
13
453377
{'날짜': '20200601', '위치': '제주특별자치도', '업종': 'leisure', '매출': 10427671}
7926617
13
7926617
{'날짜': '20200601', '위치': '경상북도', '업종': 'living', '매출': 55486319}
704231
13
704231
{'날짜': '20200601', '위치': '제주특별자치도', '업종': 'living', '매출': 19718468}
1440544
13
1440544
{'날짜': '20200601', '위치': '대구광역시', '업종': 'tour', '매출': 4321632}
585706
13
585706
{'날짜': '20200601', '위치': '광주광역시', '업종': 'tour', '매출': 1757118}

In [4]:
print(df)

            날짜     위치      업종         매출
0            0      0       0          0
1     20190601  서울특별시  eatery  285623660
2     20190701  서울특별시  eatery  282519055
3     20190801  서울특별시  eatery  273205240
4     20190901  서울특별시  eatery  266996030
...        ...    ...     ...        ...
1244  20200201  광주광역시    tour    1757118
1245  20200301  광주광역시    tour    1171412
1246  20200401  광주광역시    tour    1171412
1247  20200501  광주광역시    tour    1757118
1248  20200601  광주광역시    tour    1757118

[1249 rows x 4 columns]

In [5]:
df[(df['날짜']=='20190501') & (df['업종']=='eatery')]

Empty DataFrame
Columns: [날짜, 위치, 업종, 매출]
Index: []

In [6]:
df.to_csv('data/output_datalab2.csv')

In [7]:
df2 = pd.read_csv('data/201901-202003.csv')

In [8]:
df2_group = df2.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], as_index=False).sum()

In [9]:
df2_drop = df2_group.drop(['SEX_CTGO_CD','FLC','CSTMR_CNT','CNT'], axis=1)

In [10]:
df2_drop['STD_CLSS_NM'].unique()

array(['건강보조식품 소매업', '골프장 운영업', '과실 및 채소 소매업', '관광 민예품 및 선물용품 소매업',
       '그외 기타 스포츠시설 운영업', '그외 기타 종합 소매업', '기타 대형 종합 소매업', '기타 수상오락 서비스업',
       '기타 외국식 음식점업', '기타 주점업', '기타음식료품위주종합소매업', '내항 여객 운송업', '마사지업',
       '면세점', '버스 운송업', '비알콜 음료점업', '빵 및 과자류 소매업', '서양식 음식점업', '수산물 소매업',
       '슈퍼마켓', '스포츠 및 레크레이션 용품 임대업', '여관업', '여행사업', '욕탕업', '육류 소매업',
       '일반유흥 주점업', '일식 음식점업', '자동차 임대업', '전시 및 행사 대행업', '중식 음식점업',
       '차량용 가스 충전업', '차량용 주유소 운영업', '체인화 편의점', '택시 운송업',
       '피자 햄버거 샌드위치 및 유사 음식점업', '한식 음식점업', '호텔업', '화장품 및 방향제 소매업',
       '휴양콘도 운영업', '그외 기타 분류안된 오락관련 서비스업', '정기 항공 운송업'], dtype=object)

In [11]:
df['업종'].unique()

array(['0', 'eatery', 'fbeauty', 'hobbyenter', 'leisure', 'living',
       'tour'], dtype=object)

* eatery
'한식 음식점업'
'피자 햄버거 샌드위치 및 유사 음식점업'
'중식 음식점업'  
'육류 소매업'  
'일반유흥 주점업'
'일식 음식점업'
'비알콜 음료점업'
'빵 및 과자류 소매업'
'서양식 음식점업'
'수산물 소매업'  
'건강보조식품 소매업'
'기타 외국식 음식점업'
'기타 주점업'
'과실 및 채소 소매업'
'기타음식료품위주종합소매업'


* fbeauty
'화장품 및 방향제 소매업'  


* hobbyenter
'그외 기타 분류안된 오락관련 서비스업'
'전시 및 행사 대행업'


* leisure
'골프장 운영업'
'기타 수상오락 서비스업'  
'그외 기타 스포츠시설 운영업'
'스포츠 및 레크레이션 용품 임대업'


* living
'택시 운송업'  
'체인화 편의점'
'차량용 가스 충전업'
'차량용 주유소 운영업'
'버스 운송업'
'욕탕업'
'그외 기타 종합 소매업'
'기타 대형 종합 소매업'
'슈퍼마켓'
'마사지업' 

* tour
'호텔업'
'정기 항공 운송업'
'휴양콘도 운영업'
'자동차 임대업'
'여관업'
'여행사업'
'면세점'
'관광 민예품 및 선물용품 소매업'  
'내항 여객 운송업'

In [195]:
df3 = pd.read_csv('data/output_korea_bank.csv')

In [196]:
df3

,Unnamed: 0,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,AMT,STD_CLSS_NM2
0,0,201901,강원,건강보조식품 소매업,148354746,건강보조식품
1,1,201901,강원,골프장 운영업,1229200312,스포츠/오락/여가
2,2,201901,강원,과실 및 채소 소매업,1286979106,NaN
3,3,201901,강원,관광 민예품 및 선물용품 소매업,30656770,여행/교통
4,4,201901,강원,그외 기타 스포츠시설 운영업,13101500,스포츠/오락/여가
...,...,...,...,...,...,...
9433,9433,202003,충북,피자 햄버거 샌드위치 및 유사 음식점업,1315245299,숙박/음식
9434,9434,202003,충북,한식 음식점업,16152482704,숙박/음식
9435,9435,202003,충북,호텔업,15248550,숙박/음식
9436,9436,202003,충북,화장품 및 방향제 소매업,428881434,화장품
9437,9437,202003,충북,휴양콘도 운영업,12733490,숙박/음식

In [197]:
df3.loc[df3['STD_CLSS_NM'] == '건강보조식품 소매업','STD_CLSS_NM3'] = 'eatery'
df3.loc[ df3['STD_CLSS_NM'] == '골프장 운영업','STD_CLSS_NM3'] ='leisure'
df3.loc[ df3['STD_CLSS_NM'] == '과실 및 채소 소매업','STD_CLSS_NM3'] ='eatery'
df3.loc[df3['STD_CLSS_NM'] == '관광 민예품 및 선물용품 소매업','STD_CLSS_NM3'] = 'tour'
df3.loc[ df3['STD_CLSS_NM'] == '그외 기타 스포츠시설 운영업','STD_CLSS_NM3'] ='leisure'

df3.loc[ df3['STD_CLSS_NM'] == '그외 기타 종합 소매업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '기타 대형 종합 소매업','STD_CLSS_NM3'] ='living'
df3.loc[df3['STD_CLSS_NM'] == '기타 수상오락 서비스업','STD_CLSS_NM3'] = 'leisure'
df3.loc[ df3['STD_CLSS_NM'] == '기타 외국식 음식점업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '기타 주점업','STD_CLSS_NM3'] ='eatery'

df3.loc[ df3['STD_CLSS_NM'] == '기타음식료품위주종합소매업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '내항 여객 운송업','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '마사지업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '면세점','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '버스 운송업','STD_CLSS_NM3'] ='living'

df3.loc[ df3['STD_CLSS_NM'] == '비알콜 음료점업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '빵 및 과자류 소매업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '서양식 음식점업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '수산물 소매업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '슈퍼마켓','STD_CLSS_NM3'] ='living'

df3.loc[df3['STD_CLSS_NM'] == '스포츠 및 레크레이션 용품 임대업','STD_CLSS_NM3'] = 'leisure'
df3.loc[ df3['STD_CLSS_NM'] == '여관업','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '여행사업','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '욕탕업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '육류 소매업','STD_CLSS_NM3'] ='eatery'

df3.loc[ df3['STD_CLSS_NM'] == '일반유흥 주점업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '일식 음식점업','STD_CLSS_NM3'] ='eatery'
df3.loc[df3['STD_CLSS_NM'] == '자동차 임대업','STD_CLSS_NM3'] = 'tour'
df3.loc[ df3['STD_CLSS_NM'] == '전시 및 행사 대행업','STD_CLSS_NM3'] ='hobbyenter'
df3.loc[ df3['STD_CLSS_NM'] == '중식 음식점업','STD_CLSS_NM3'] ='eatery'

df3.loc[ df3['STD_CLSS_NM'] == '차량용 가스 충전업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '차량용 주유소 운영업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '체인화 편의점','STD_CLSS_NM3'] ='living'

df3.loc[ df3['STD_CLSS_NM'] == '택시 운송업','STD_CLSS_NM3'] ='living'
df3.loc[ df3['STD_CLSS_NM'] == '피자 햄버거 샌드위치 및 유사 음식점업','STD_CLSS_NM3'] ='eatery'

df3.loc[ df3['STD_CLSS_NM'] == '한식 음식점업','STD_CLSS_NM3'] ='eatery'
df3.loc[ df3['STD_CLSS_NM'] == '호텔업','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '화장품 및 방향제 소매업','STD_CLSS_NM3'] ='fbeauty'
df3.loc[ df3['STD_CLSS_NM'] == '휴양콘도 운영업','STD_CLSS_NM3'] ='tour'
df3.loc[ df3['STD_CLSS_NM'] == '그외 기타 분류안된 오락관련 서비스업','STD_CLSS_NM3'] ='hobbyenter'

df3.loc[df3['STD_CLSS_NM'] == '정기 항공 운송업','STD_CLSS_NM3'] = 'tour'

#https://kssc.kostat.go.kr:8443/ksscNew_web/index.jsp

In [205]:
df3.drop(df3.columns[0],axis=1)

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,AMT,STD_CLSS_NM2,STD_CLSS_NM3
0,201901,강원,건강보조식품 소매업,148354746,건강보조식품,eatery
1,201901,강원,골프장 운영업,1229200312,스포츠/오락/여가,leisure
2,201901,강원,과실 및 채소 소매업,1286979106,NaN,NaN
3,201901,강원,관광 민예품 및 선물용품 소매업,30656770,여행/교통,tour
4,201901,강원,그외 기타 스포츠시설 운영업,13101500,스포츠/오락/여가,leisure
...,...,...,...,...,...,...
9433,202003,충북,피자 햄버거 샌드위치 및 유사 음식점업,1315245299,숙박/음식,eatery
9434,202003,충북,한식 음식점업,16152482704,숙박/음식,eatery
9435,202003,충북,호텔업,15248550,숙박/음식,tour
9436,202003,충북,화장품 및 방향제 소매업,428881434,화장품,fbeauty
9437,202003,충북,휴양콘도 운영업,12733490,숙박/음식,tour

In [206]:
df3.to_csv('data/output_koreabank_datalab.csv',index=False)

In [207]:
df4 = pd.read_csv('data/output_koreabank_datalab.csv')

In [208]:
df4

,Unnamed: 0,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,AMT,STD_CLSS_NM2,STD_CLSS_NM3
0,0,201901,강원,건강보조식품 소매업,148354746,건강보조식품,eatery
1,1,201901,강원,골프장 운영업,1229200312,스포츠/오락/여가,leisure
2,2,201901,강원,과실 및 채소 소매업,1286979106,NaN,NaN
3,3,201901,강원,관광 민예품 및 선물용품 소매업,30656770,여행/교통,tour
4,4,201901,강원,그외 기타 스포츠시설 운영업,13101500,스포츠/오락/여가,leisure
...,...,...,...,...,...,...,...
9433,9433,202003,충북,피자 햄버거 샌드위치 및 유사 음식점업,1315245299,숙박/음식,eatery
9434,9434,202003,충북,한식 음식점업,16152482704,숙박/음식,eatery
9435,9435,202003,충북,호텔업,15248550,숙박/음식,tour
9436,9436,202003,충북,화장품 및 방향제 소매업,428881434,화장품,fbeauty
9437,9437,202003,충북,휴양콘도 운영업,12733490,숙박/음식,tour